a:link { color: black; }
a:visited { color: green; }
a:hover { color: pink; }
a:active { color: orange; }

header, footer {
  background-color: bisque;
  padding: 10px;
}

body {
  background-color: salmon;
}

header > div {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.portrait {
  display: block;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: auto;
}

p, h1, h2, h3 {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  font-size: auto;
}

ol, ul {
  display: table;
  margin: 0 auto;
  margin-bottom: 30px;
}

hr {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
