/* background, color, font-family, font-size,
 * height, margin, padding, text-align
 */

a:link {}
a:active {}
a:hover {}
a:visited{}

header > div {
}

header > nav > a{
}

.portrait-div {
}

.article-div {
}

article {
}

section {
}

hr {
}

